@import '../../../../resources/mixins';

.token-wizard{
  .ant-tabs-tab{
    background: #F53D61;
    color: white;
  }

  .ant-tabs-content{
    .ant-tabs-tab{
      background: white;
      color: black;  
    }
  }
}